html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
  display: flex;
  justify-content: center;
  align-content: center;
  font: 48px;
  background-color: blue;
}

.input {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  background-color: red;
}

.input-section {
  font-size: 18px;
  border-radius: 5px;
  width: 500px;
  background-color: orange;
  padding: 10px 20px 10px 20px;
}

.addBtn {
  font-size: 18px;
  border-radius: 5px;
  width: 100px;
  background-color: purple;
  color: white;
  padding: 10px 20px 10px 20px;
  margin-left: 10px;
}
